<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218703914734-svvl3lhmn6e3lefnl1muarqo99vnai9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218703914734-svvl3lhmn6e3lefnl1muarqo99vnai9e</string>
	<key>API_KEY</key>
	<string>AIzaSyC6mV45Vnwn0hR6quB6WP3f2pMx4v_PngI</string>
	<key>GCM_SENDER_ID</key>
	<string>218703914734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reactnative-spike</string>
	<key>PROJECT_ID</key>
	<string>checkout-spike</string>
	<key>STORAGE_BUCKET</key>
	<string>checkout-spike.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218703914734:ios:4e433f271293dabc14f5ff</string>
</dict>
</plist>